<div
  class="modal show fade"
  style="display: block; background-color: rgba(0, 0, 0, 0.5)"
  tabindex="-1"
>


<div class="modal-dialog">
    <div class="modal-content bg-secondary">
      <header class="modal-header">
        @if(produto !== null && !isObjectEmpty(produto)) {
        <h2 class="modal-title">Editar Produto</h2>
        } @else {
        <h2 class="modal-title">Novo Produto</h2>
        }
        <button (click)="closeModal()" class="btn-close"></button>
      </header>
      <div class="modal-body">
        <form
          class="text-white"
          (ngSubmit)="submit()"
          [formGroup]="produtoForm"
          #formDir="ngForm"
        >
          <div class="mb-2">
            <label for="nome">Nome:</label>
            <input
              id="nome"
              type="text"
              class="form-control"
              formControlName="nome"
            />
            @if(formDir.submitted) {
            @if(produtoForm.get('nome')?.errors?.['required']) {
            <div class="text-danger fw-semibold">
              <p>Informe o Produto</p>
            </div>
            } }
          </div>

          <div class="mb-3">
            <label for="sku">Sku</label>
            <input
              id="sku"
              type="text"
              class="form-control"
              id="sku"
              formControlName="sku"
            />

          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="quantidade">Quantidade:</label>
              <input
                id="quantidade"
                type="number"
                class="form-control"
                id="quantidade"
                formControlName="quantidade"
              />
            </div>

            <div class="col">
              <label for="observacao">Observacao:</label>
              <input
                id="observacao"
                type="text"
                class="form-control"
                id="observacao"
                formControlName="observacao"
              />
            </div>
          </div>
          @if(isBusy) {
          <button class="col-12 btn btn-secondary" disabled>Salvando...</button>
          } @else {
          <div class="d-flex flex-nowrap align-items-center gap-2 w-100">
            @if(produto !== null && !isObjectEmpty(produto)) {
            <button type="submit" class="btn btn-primary w-100">Alterar</button>
            } @else {
            <button type="submit" class="btn btn-success w-100">Salvar</button>

            }
            <button
              type="button"
              (click)="closeModal()"
              class="btn btn-danger w-100"
            >
              Cancelar
            </button>
          </div>
          }
        </form>
      </div>
    </div>
  </div>
</div>



